body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../../Assets/linkedin/bg.png') no-repeat center center;
  background-size: cover;
}

.login-card {
  width: 100%;
  max-width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.login-card .ant-card-head {
  text-align: center;
}

.login-card .ant-card-body {
  padding: 24px;
}

.login-card .ant-form-item {
  margin-bottom: 16px;
}
.login-form-button {
  width: 100%;
}

/* otp */
.otp-instruction {
  display: block;
  margin-bottom: 44px;
}
.otp-form {
  max-width: 100%;
}
.otp-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.otp-input {
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
}
.otp-form-button {
  width: 100%;
  margin-bottom: 10px;
}